#projects li {
    margin-bottom: 0.8em;
}

#projects li:last-child {
    margin-bottom: 0px;
}

.career li {
    margin-bottom: 0.3em;
}

.career li:last-child {
    margin-bottom: 0px;
}

span {
    white-space: nowrap;     
}

h3 {
    font-size: 16px;
}

#intro p {
    margin-bottom: -0.6em;
}

#intro p:last-child {
    margin-bottom: 1em;
}

#contact li {
    margin-bottom: 0.4em;
}

#contact li:last-child {
    margin-bottom: 0px;
}